#buttons{
  position: absolute;
  z-index: 100;
  right:  10px;
  padding: 10px;
}

button {
  font-size: 11px;
  padding: 8px;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
}

button:hover, p:hover {
  cursor: pointer;
}

#start:focus, #end:focus {
  outline: 0;
  border: 1px solid red;
}

#route:focus, #clear:focus, #history:focus {
  outline: 0;
}

#route {
  border-left: none;
  border-right: none;
}

#end {
  border-left: none;
  border-right: none;
}

ul {
  padding: 15px;
  max-height: 400px;
  overflow-y: scroll;
}

li {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

p {
  margin: 0px;
  text-align: right;
}

